<app-navigation></app-navigation>
<div class="employed">
  <h1>Ofertas de empleo</h1>
  <div class="employed-detail">
    <p>En estos momentos no tenemos vacantes disponible</p>
    <p>
      Si estás interesado envianos un correo a
      <a href="mailto:hola@cafedealtura.com">hola@cafedealtura.com</a>
    </p>
  </div>
</div>
<app-contact-component></app-contact-component>
<app-footer-container></app-footer-container>
<div class="footer">
  Todos los derechos reservados - Café de Altura SL - 2022
</div>
