<app-navigation></app-navigation>
<div class="wrap">
  <div class="detail-enterprise">
    <h1>
      "Un Encuentro Excepcional: Cada Cliente, una Experiencia Única en Cafe Con
      Altura®"
    </h1>

    <div>
      En nuestra empresa, entendemos la importancia de establecer una
      comunicación efectiva y sólida con nuestros clientes comerciales.
    </div>
    <div>
      Ya sea que necesites asesoramiento estratégico, desarrollo de software
      personalizado, servicios de consultoría o soluciones de marketing digital,
      estamos aquí para brindarte el apoyo necesario.
    </div>

    <div>
      Si deseas obtener más información sobre cómo podemos colaborar con tu
      empresa, no dudes en contactarnos.
    </div>
  </div>
  <img src="../../../assets/cafe-plantacion.jpeg" />
</div>
<app-explain></app-explain>
<app-contact-component></app-contact-component>
<app-footer-container></app-footer-container>
<div class="footer">
  Todos los derechos reservados - Café de Altura SL - 2022
</div>
