<app-navigation></app-navigation>

<div class="introduction">
  <div class="introduction-container">
    <h3 class="title">De la planta a tu taza</h3>
    <h1 class="subtitle">El mejor café del mundo, ahora en tu casa.</h1>
    <p class="definition">
      trabajamos con agricultores de todo el mundo para seleccionar los mejores
      granos de café y que puedas viajar desde la comodidad de tu hogar
    </p>
    <div class="buttons-section">
      <a class="btn-black" routerLink="about">Descubrir origines</a>
      <a class="btn-green" routerLink="shop">Comprar Café</a>
    </div>
  </div>
  <div class="img-section">
    <img src="../../../../assets/Hero image.svg" alt="" />
  </div>
</div>
<app-explain></app-explain>

<div class="cards-section">
  <h1 class="title-h2">Novedades</h1>
  <div class="cards-container">
    <app-cards [view]="'home'"></app-cards>
  </div>
  <a routerLink="shop" class="SeeAll">
    Ver todos
    <img src="../../../../assets/Arrow-right.svg" alt=""
  /></a>
</div>

<app-faq></app-faq>
<div class="shop-home">
  <div class="shop-home-detail">
    <h2 class="title-h2">Pruébalo en nuestro coffe shop</h2>
    <p>
      Visita nuestra cafetería en el centro de la ciudad para probar los granos
      de café antes de hacer tu pedido y llévate un descuento
    </p>
    <a routerLink="about" class="SeeAll">
      Cómo llegar
      <img src="../../../../assets/Arrow-right.svg" alt=""
    /></a>
  </div>
  <div>
    <img src="../../../../assets/CoffeShop.svg" />
  </div>
</div>
<app-contact-component></app-contact-component>
<app-footer-container></app-footer-container>
<div class="footer">
  Todos los derechos reservados - Café de Altura SL - 2022
</div>
