.title-cart h2 {
  font-size: 24px;
  font-weight: 500;
  color: #2a5b45;
  display: flex;
  justify-content: center;
  padding: 40px 0 24px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.cart-container {
  padding: 0 40px 310px 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.product-table {
  grid-column: span 2;
}
.product-info:not(:first-child) {
  border-top: 1px solid #e3ded7;
  border-width: thin;
}
.product-detail {
  display: flex;
  gap: 24px;
  padding: 24px 0;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-custom {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.quantity-selector {
  display: flex;
  gap: 8px;
  align-items: center;
}
.selector {
  display: flex;
  align-items: cetner;
  justify-content: center;
  cursor: pointer;
}
.quantity {
  background-color: rgba(42, 91, 69, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
}
img {
  max-width: 56px;
  max-height: 56px;
}
.price {
  font-size: 18px;
  font-weight: 600;
  float: right;
}

.summary {
  grid-column: 3;
  padding: 24px;
  background-color: #f7f5f3;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 280px;
}

.divider {
  height: 1px;
  background-color: #e3ded7;
}

.detail-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-total {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.total-tax {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: end;
}

.tax {
  font-size: 12px;
  font-weight: 400;
  color: #515051;
}
.button-container {
  display: flex;
  gap: 16px;
}
.check {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #2a5b45;
}

.shop {
  color: #2a5b45;
  padding: 12px 24px;
  border-radius: 4px;
}
#myCheckbox {
  display: none;
}
#myUrgentCheckbox {
  display: none;
}
.checkmark {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #2a5b45;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2a5b45;
}

#myCheckbox:checked + .checkmark:after {
  display: block;
  animation: grow 0.2s ease-out forwards;
}

#myUrgentCheckbox:checked + .checkmark:after {
  display: block;
  animation: grow 0.2s ease-out forwards;
}
@keyframes grow {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.shippingOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.shippingDetail {
  display: flex;
  align-items: center;
  gap: 22px;
}
.shippingOption:nth-child(2) {
  border-top: 1px solid #e3ded7;
  border-width: thin;
}
