<app-navigation></app-navigation>
<section>
  <div class="container">
    <h3>SECCIÓN 1 - TÉRMINOS DE LA TIENDA EN LÍNEA</h3>
    <p>
      Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en
      tu estado o provincia de residencia, o que tienes la mayoría de edad en tu
      estado o provincia de residencia y que nos has dado tu consentimiento para
      permitir que cualquiera de tus dependientes menores use este sitio.
    </p>
    <p>
      No puedes usar nuestros productos con ningún propósito ilegal o no
      autorizado tampoco puedes, en el uso del Servicio, violar cualquier ley en
      tu jurisdicción (incluyendo pero no limitado a las leyes de derecho de
      autor). No debes transmitir gusanos, virus o cualquier código de
      naturaleza destructiva.
    </p>
    <p>
      El incumplimiento o violación de cualquiera de estos Términos darán lugar
      al cese inmediato de tus Servicios.
    </p>
    <h3>SECCIÓN 2 - CONDICIONES GENERALES</h3>
    <p>
      Nos reservamos el derecho de rechazar la prestación de servicio a
      cualquier persona, por cualquier motivo y en cualquier momento.
    </p>
    <p>
      Entiendes que tu contenido (sin incluir la información de tu tarjeta de
      crédito), puede ser transferida sin encriptar e involucrar (a)
      transmisiones a través de varias redes; y (b) cambios para ajustarse o
      adaptarse a los requisitos técnicos de conexión de redes o dispositivos.
      La información de tarjetas de crédito está siempre encriptada durante la
      transferencia a través de las redes.
    </p>
    <p>
      Estás de acuerdo con no reproducir, duplicar, copiar, vender, revender o
      explotar cualquier parte del Servicio, uso del Servicio, o acceso al
      Servicio o cualquier contacto en el sitio web a través del cual se presta
      el servicio, sin el expreso permiso por escrito de nuestra parte. Los
      títulos utilizados en este acuerdo se incluyen solo por conveniencia y no
      limita o afecta a estos Términos.
    </p>
    <h3>SECCIÓN 3 - EXACTITUD, EXHAUSTVIDAD Y ACTUALIDAD DE LA INFORMACIÓN</h3>
    <p>
      No nos hacemos responsables si la información disponible en este sitio no
      es exacta, completa o actual. El material en este sitio es provisto solo
      para información general y no debe confiarse en ella o utilizarse como la
      única base para la toma de decisiones sin consultar primeramente,
      información más precisa, completa u oportuna. Cualquier dependencia em el
      materia de este sitio es bajo su propio riesgo
    </p>
    <p>
      Este sitio puede contener cierta información histórica. La información
      histórica, no es necesariamente actual y es provista únicamente para tu
      referencia. Nos reservamos el derecho de modificar los contenidos de este
      sitio en cualquier momento, pero no tenemos obligación de actualizar
      cualquier información en nuestro sitio. Aceptas que es tu responsabilidad
      de monitorear los cambios en nuestro sitio.
    </p>
    <h3>SECCIÓN 4 - MODIFICACIONES AL SERVICIO Y PRECIOS</h3>
    <p>
      Los precios de nuestros productos están sujetos a cambio sin aviso. Nos
      reservamos el derecho de modificar o discontinuar el Servicio (o cualquier
      parte del contenido) en cualquier momento sin aviso previo. No seremos
      responsables ante ti o alguna tercera parte por cualquier modificación,
      cambio de precio, suspensión o discontinuidad del Servicio.
    </p>
    <h3>SECCIÓN 5 - PRODUCTOS O SERVICIOS (si aplicable)</h3>
    <p>
      Ciertos productos o servicios pueden Estar disponibles exclusivamente en
      línea a través del sitio web. Estos productos o servicios pueden tener
      cantidades limitadas y estar sujetas a devolución o cambio de acuerdo a
      nuestra política de devolución solamente.
    </p>
    <p>
      Hemos hecho el esfuerzo de mostrar los colores y las imágenes de nuestros
      productos, en la tienda, con la mayor precisión de colores posible. No
      podemos garantizar que el monitor de tu computadora muestre los colores de
      manera exacta.
    </p>
    <p>
      Nos reservamos el derecho, pero no estamos obligados, para limitar las
      ventas de nuestros productos o servicios a cualquier persona, región
      geográfica o jurisdicción. Podemos ejercer este derecho basados en cada
      caso. Nos reservamos el derecho de limitar las cantidades de los productos
      o servicios que ofrecemos. Todas las descripciones de productos o precios
      de los productos están sujetos a cambios en cualquier momento sin previo
      aviso, a nuestra sola discreción. Nos reservamos el derecho de
      discontinuar cualquier producto en cualquier momento. Cualquier oferta de
      producto o servicio hecho en este sitio es nulo donde esté prohibido.
    </p>
    <p>
      No garantizamos que la calidad de los productos, servicios, información u
      otro material comprado u obtenido por ti cumpla con tus expectativas, o
      que cualquier error en el Servicio será corregido.
    </p>
  </div>
</section>
<app-footer-container></app-footer-container>
<app-footer></app-footer>
