<section class="contact">
  <div class="contact-detail">
    <div>
      <h3 class="title-contact">Entra en contacto con nosotros</h3>
      <p>
        Si tienes dudas, ponte en contacto con nosotros a través del formulario
        y te responderemos lo antes posible.
      </p>
    </div>
    <div class="contact-definition">
      <p>
        También puedes ponerte en contacto con nostros en nuestra dirección o a
        través del teléfono de la tienda.
      </p>
      <div class="contact-content">
        <p>742 Evergreen Terrace</p>
        <p>Springfield, OR 12345</p>
      </div>
      <div class="content-adress">
        <div class="contact-adress-flex">
          <img src="../../../../assets/Phone-contact.svg" />

          <p>+1 (555) 123-4567</p>
        </div>
        <div class="contact-adress-flex">
          <img src="../../../../assets/Email-contact.svg" />
          <p>support@example.com</p>
        </div>
      </div>
      <div class="contact-flex">
        <p>¿Buscas un trabajo?</p>
        <a routerLink="about" class="SeeAll"> Ver nuestras ofertas.</a>
      </div>
    </div>
  </div>

  <div class="contact-form">
    <app-form></app-form>
  </div>
</section>
