<app-navigation></app-navigation>
<section>
  <div class="container">
    <h3>Protección de datos de carácter personal según la LOPDDD</h3>
    <p>
      _____________________________, en aplicación de la normativa vigente en
      materia de protección de datos de carácter personal, informa que los datos
      personales que se recogen a través de los formularios del Sitio web:
      _________________________, se incluyen en los ficheros automatizados
      específicos de usuarios de los servicios de
      _______________________________
    </p>
    <p>
      La recogida y tratamiento automatizado de los datos de carácter personal
      tiene como finalidad el mantenimiento de la relación comercial y el
      desempeño de tareas de información, formación, asesoramiento y otras
      actividades propias de ______________________
    </p>
    <p>
      La recogida y tratamiento automatizado de los datos de carácter personal
      tiene como finalidad el mantenimiento de la relación comercial y el
      desempeño de tareas de información, formación, asesoramiento y otras
      actividades propias de ______________________
    </p>
    <p>
      _______________________ adopta las medidas necesarias para garantizar la
      seguridad, integridad y confidencialidad de los datos conforme a lo
      dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del
      Consejo, de 27 de abril de 2016, relativo a la protección de las personas
      físicas en lo que respecta al tratamiento de datos personales y a la libre
      circulación de los mismos.
    </p>
    <p>
      El usuario podrá en cualquier momento ejercitar los derechos de acceso,
      oposición, rectificación y cancelación reconocidos en el citado Reglamento
      (UE). El ejercicio de estos derechos puede realizarlo el propio usuario a
      través de email a: _________________________ o en la dirección:
      ______________________________
    </p>
    <p>
      El usuario manifiesta que todos los datos facilitados por él son ciertos y
      correctos, y se compromete a mantenerlos actualizados, comunicando los
      cambios a __________________________
    </p>
    <h3>Finalidad del tratamiento de los datos personales:</h3>
    <p>
      ¿Con qué final__________, trataremos tus datos personales recabados a
      través del Sitio Web: ________ _________________, con las siguientes
      finalidades:
    </p>
    <p>
      1. En caso de contratación de los bienes y servicios ofertados a través de
      ____________________________, para mantener la relación contractual, así
      como la gestión, administración, información, prestación y mejora del
      servicio.
    </p>
    <p>
      2. Envío de información solicitada a través de los formularios dispuestos
      en ____________________________
    </p>
    <p>
      3. Remitir boletines (newsletters), así como comunicaciones comerciales de
      promociones y/o publicidad de ______________________________ y del sector.
    </p>
    <p>
      Te recordamos que puedes oponerte al envío de comunicaciones comerciales
      por cualquier vía y en cualquier momento, remitiendo un correo electrónico
      a la dirección indicada anteriormente.
    </p>
    <p>
      Los campos de dichos registros son de cumplimentación obligatoria, siendo
      imposible realizar las finalidades expresadas si no se aportan esos datos.
    </p>

    <h3>¿Por cuánto tiempo se conservan los datos personales recabados?</h3>
    <p>
      Los datos personales proporcionados se conservarán mientras se mantenga la
      relación comercial o no solicites su supresión y durante el plazo por el
      cuál pudieran derivarse responsabilidades legales por los servicios
      prestados. Legitimación:
    </p>
    <p>
      El tratamiento de tus datos se realiza con las siguientes bases jurídicas
      que legitiman el mismo:
    </p>
    <p>
      1. La solicitud de información y/o la contratación de los servicios de
      ___________________________, cuyos términos y condiciones se pondrán a tu
      disposición en todo caso, de forma previa a una eventual contratación.
    </p>
    <p>
      2. El consentimiento libre, específico, informado e inequívoco, en tanto
      que te informamos poniendo a tu disposición la presente política de
      privacidad, que tras la lectura de la misma, en caso de estar conforme,
      puedes aceptar mediante una declaración o una clara acción afirmativa,
      como el marcado de una casilla dispuesta al efecto.
    </p>
    <p>
      En caso de que no nos facilites tus datos o lo hagas de forma errónea o
      incompleta, no podremos atender tu solicitud, resultando del todo
      imposible proporcionarte la información solicitada o llevar a cabo la
      contratación de los servicios.
    </p>
    <h3>Destinatarios:</h3>
    <p>
      Los datos no se comunicarán a ningún tercero ajeno a
      ______________________, salvo obligación legal.
    </p>
    <p>
      Como encargados de tratamiento, tenemos contratados a los siguientes
      proveedores de servicios, habiéndose comprometido al cumplimiento de las
      disposiciones normativas, de aplicación en materia de protección de datos,
      en el momento de su contratación:
    </p>
    <p>
       (ENCARGADO) ____________________________, con domicilio en
      ____________________, NIF/CIF nº ________________________, presta
      servicios de _______________________
    </p>

    <p>
       Puede consultar la política de privacidad y demás aspectos legales de la
      compañía en el siguiente enlace: _____________________
    </p>
    <p>
       (ENCARGADO) __________________, con domicilio en
      _________________________, NIF/CIF nº ____________, presta servicios de
      _________________________ .
    </p>
    <p>
       Puede consultar la política de privacidad y demás aspectos legales de la
      compañía en el siguiente enlace: __________________________
    </p>
  </div>
</section>

<app-footer-container></app-footer-container>
<app-footer></app-footer>
