.footer-container {
  background-color: #1f1815;
  color: #fff;
  padding: 28px 40px;
}
.home {
  display: flex;
  gap: 7px;
  font-size: 24px;
  font-weight: 400;
  @media (max-width: 600px) {
    justify-content: center;
  }
}
.footer-container-wrap {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}
.title-footer-container {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.footer-container-rout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (max-width: 600px) {
    margin: 20px;
  }
}

.click-footer-container {
  background-color: #515051;
  padding: 12px 24px;
  border-radius: 4px;
  max-width: fit-content;
}
.middle {
  padding: 0 10vw 0 27vw;
  @media (max-width: 853px) {
    padding: 0 5vw 0 5vw;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

a {
  font-size: 14px;
  line-height: 16px;
}
.active {
  background-color: rgb(247, 245, 243, 0.1);
  border-radius: 10px;
  width: fit-content;
  padding: 4px;
}
