<section class="footer-container">
  <a routerLink="" class="home">
    <img src="../../../../assets/cafedealtura.com.svg" alt="" />
    <img src="../../../../assets/Coffee.svg" alt="" />
  </a>
  <div class="footer-container-wrap">
    <div class="footer-container-rout">
      <h3 class="title-footer-container">Te ayudamos en</h3>

      <a href="tel:+32 929 49 05 18" class="click-footer-container">
        <img src="../../../../assets/Phone.svg" /> +34 919 49 05 18</a
      >

      <a class="click-footer-container" href="mailto:hola@cafedealtura.com">
        <img src="../../../../assets/Email.svg" />
        hola@cafedealtura.com</a
      >
    </div>
    <div class="footer-container-rout middle">
      <a routerLink="/shop" routerLinkActive="active">Tienda</a>
      <a routerLink="/suscription" routerLinkActive="active">Suscripción</a>
      <a routerLink="/enterprise" routerLinkActive="active">Para empresas</a>
      <a routerLink="/about" routerLinkActive="active">Sobre nosotros</a>
      <a routerLink="/contact" routerLinkActive="active">Contacto</a>
    </div>

    <div class="footer-container-rout">
      <a routerLink="/privacy_policy" routerLinkActive="active"
        >Política de privacidad</a
      >
      <a routerLink="/cookies" routerLinkActive="active">Política de cookies</a>
      <a routerLink="/terms&conditions" routerLinkActive="active"
        >Términos y condiciones</a
      >
    </div>
  </div>
</section>
