<app-navigation></app-navigation>
<div class="wrap">
  <div class="suscription left">
    <div class="suscription-container">
      <h1>Suscripción Basica</h1>
      <div>
        Desde:
        <strong> 5,00€ / mes </strong>
      </div>
      Cada paquete contiene 250 gramos de café (equivale a unos 30 cafés en taza
      espresso).
      <div>
        Recibirás el café directamente en tu casa 1 vez al mes, y durante el
        tiempo que quieras. El café de este mes es de Colombia y ha sido tostado
        en Bogota con mucho mimo por Pam coffee roaster. Se trata de un café
        arábica de la variedad Pacamara, cultivado en la región de Orinoquía por
        Isauro Solares, productor y propietario de la finca La Cabaña.
      </div>
      El café ha sido cosechado a mano y procesado por el método natural antes
      de su secado. Tiene notas de cata a licor de naranja, kiwi, frambuesa y
      caramelo. Este café es apto tanto para espresso como para filtro. Disfruta
      de un buen café de especialidad en tu casa y descubre nuevos sabores y
      matices cada mes.
    </div>

    <div class="img-container">
      <img src="../../../assets/Cafe1.svg" alt="" />
    </div>
  </div>
</div>
<app-explain></app-explain>
<app-contact-component></app-contact-component>
<app-footer-container></app-footer-container>
<div class="footer">
  Todos los derechos reservados - Café de Altura SL - 2022
</div>
