<div class="navigation" *ngIf="!isSmallScreen">
  <a routerLink="" class="home">
    <img src="../../../../assets/cafedealtura.com.svg" alt="" />
    <img src="../../../../assets/Coffee.svg" alt="" />
  </a>
  <div class="navigation-router">
    <a routerLink="/shop" routerLinkActive="active">Tienda</a>
    <a routerLink="/suscription" routerLinkActive="active">Suscripción</a>
    <a routerLink="/enterprise" routerLinkActive="active">Para empresas</a>
    <a routerLink="/about" routerLinkActive="active">Sobre nosotros</a>
    <a routerLink="/contact" routerLinkActive="active">Contacto</a>
  </div>
  <div class="phone-loging-navigation">
    <div class="phone-navigation">
      <img src="../../../../assets/Phone.svg" alt="" />
      <a href="tel:+32 929 49 05 18">+32 929 49 05 18</a>
    </div>
    <button class="btn-session">iniciar sesión</button>
  </div>

  <a routerLink="/cart" class="cart">
    <img src="../../../../assets/Bag.svg" alt="" />
    <span *ngIf="cartItems.length > 0" class="ammount-cart">{{
      totalQuantity
    }}</span>
  </a>
</div>

<div *ngIf="isSmallScreen" class="burger-menu">
  <div class="hamburgerContainer" (click)="toggleBurgerMenu()">
    <div class="hamburgerSpan"></div>
    <div class="hamburgerSpan"></div>
    <div class="hamburgerSpan"></div>
  </div>
</div>
<div class="burger-content" [ngClass]="{ hidden: !showBurgerMenu }">
  <a routerLink="" class="home">
    <img src="../../../../assets/cafedealtura.com.svg" alt="" />
    <img src="../../../../assets/Coffee.svg" alt="" />
  </a>
  <div class="navigation-router-mb">
    <a routerLink="/shop" routerLinkActive="active">Tienda</a>
    <a routerLink="/suscription" routerLinkActive="active">Suscripción</a>
    <a routerLink="/enterprise" routerLinkActive="active">Para empresas</a>
    <a routerLink="/about" routerLinkActive="active">Sobre nosotros</a>
    <a routerLink="/contact" routerLinkActive="active">Contacto</a>
  </div>
  <a routerLink="/cart" class="cart">
    <img src="../../../../assets/Bag.svg" alt="" />
    <span *ngIf="cartItems.length > 0" class="ammount-cart">{{
      totalQuantity
    }}</span>
  </a>
  <button class="btn-session">iniciar sesión</button>
  <div class="phone-loging-navigation-mb">
    <div class="phone-navigation">
      <img src="../../../../assets/Phone.svg" alt="" />
      <a href="tel:+32 929 49 05 18">+32 929 49 05 18</a>
    </div>
  </div>
</div>
