body,
p,
h1,
h2,
h3,
button {
  margin: 0px;
  padding: 0px;
  font-family: "Outfit";
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #111827;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

a {
  text-decoration: none;
  color: white;
}
