.grid-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-simple {
  grid-column: span 2;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-section {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.grid-middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}

input,
select {
  padding: 10px 8px;
  border-radius: 6px;
  border: solid 1px #d1d5db;
}
span {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
label {
  font-size: 12px;
  font-weight: 400;
}

.last-form {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 25%));
  gap: 24px;
}

.last-quart {
  display: flex;
}

.form-quart-section {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.custom-select {
  appearance: none;
  background-image: url("../../../../../../assets/Arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 10px;
}
